<%- include("partials/header") -%>


            <h1 class="center-align">Love-for-the-uglies</h1>

     
        </header>
        <div style="margin-left:25%; margin-right:30%;">
        <label for="name">Username:</label>

        <input type="text" id="Username" name="Username" required style="width:100px" minlength="4" maxlength="8" size="1">

        <label for="name">Password:</label>

        <input type="text" id="Password" name="Password" style="width:100px" required minlength="4" maxlength="8" size="1">
        
        <button type="button"> Login</button>
    </div>

        
      <!--JavaScript at end of body for optimized loading-->
   
  <%- include("partials/footer") -%>